<div class="hero-container">
    <div class="hero-title">
      <h2>Negotiations with North Korea</h2>
      <p>Know the latest and why it matters.</p>
    </div>
    <div class="latest">
      <%- partial('_partial/latest') %>
    </div>
    <div class="scroll-instruction">
      <%- partial('_partial/instruction') %>
    </div>
</div>
<div class="well-container">
  <div class="story-well">
    <h3 class="well-title">What's developing now</h3>
    <%- partial('_partial/post-content') %>
  </div>
  <div class="explainer-panel">
    <%- partial('_partial/explainers') %>
  </div>
</div>
